# Python bytecode and cache
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code settings
.vscode/

# Datasets and large media folders (Crucial to prevent uploading 2GB+ files)
leapGestRecog/
PetImages/
*.zip
*.tar.gz
*.rar
*.csv
